body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/*                           login page                  */
.login-container {
  width: 40%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.login-container #login-btn {
  padding: 10px;
  background-color: #6a1b9a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-container #login-btn:hover {
  background-color: #7e57c2;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

/*                  Registration page          */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.registration-container {
  width: 40%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
  text-align: center;
  color: #333;
}

.registration-container form {
  display: flex;
  flex-direction: column;
}

.registration-container input {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #ddd;
}

.registration-container #register-btn {
  padding: 10px;
  margin: 24px 0 0 0;
  background-color: #6a1b9a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.registration-container #register-btn:hover {
  background-color: #7e57c2;
}

.footer {
  text-align: center;
  margin-top: 20px;
}